{% extends 'base.html.twig' %}

{% block title %}Time Log{% endblock %}

{% block body %}
    <h3>Time Log:</h3>
    {% for message in app.flashes('errors') %}
        <div style="color: red">
            {{ message }}
        </div>
    {% endfor %}
    <div>
        {% if collection %}
            <ul>
                {% for log in collection %}
                    <li><strong>{{ log.project.title }}:</strong> {{ log.startAt|date('Y-m-d H:i:s') }}{% if log.endAt %} - {{ log.endAt|date('Y-m-d H:i:s') }}{% endif %} <a href="{{ path('timelog_edit', {'id': log.id}) }}">✏️</a> <a href="{{ path('timelog_delete', {'id': log.id}) }}">🗑️</a> </li>
                {% endfor %}
            </ul>
            <a href="{{ path('timelog_list') }}?page={{ query.page - 1 }}">«</a> | <a href="{{ path('timelog_list') }}?page={{ query.page + 1 }}">»</a>
        {% else %}
            <em>No Projects exist</em>
        {% endif %}
    </div>
    <div>
        <a href="{{ path('timelog_create') }}">➕ Add</a>
    </div>
    <hr />
    <div>
        <form action="" method="get">
            <label for="active_project">Change Active Project:</label>
            <select name="active_project" id="active_project">
            {% for project in project_collection %}
                <option value="{{ project.id }}"{% if active_project == project.id %} selected{% endif %}>{{ project.title }}</option>
            {% endfor %}
            </select>
            <input type="submit" />
        </form>
    </div>
    <div>
        <a href="{{ path('timelog_start', {'id': active_project ?? 1}) }}">➕ Start Session</a>
        <a href="{{ path('timelog_stop', {'id': active_project ?? 1}) }}">➕ Stop Session</a>
    </div>
{% endblock %}
