<br />
<br />
<hr />
<div>
    <a href="{{ path('app_home') }}">Home</a> | <a href="{{ path('app_login') }}">Login</a> | <a href="{{ path('app_logout') }}">Logout</a> | <a href="{{ path('project_list') }}">Projects</a> | <a href="{{ path('timelog_list') }}">Time Log</a>
</div>